/* You can add global styles to this file, and also import other style files */
@import "imports/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

input.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.error {
  color: red;
}
