<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
