<section *ngIf="ready">
  <section *ngIf="person">
    <h2>You selected: {{person.name}}</h2>
    <h3>Description</h3>
    <p>
      {{person.name}} weights {{person.weight}} and is {{person.height}} tall.
    </p>
  </section>

  <section>
    <form #personForm="ngForm"
          (ngSubmit)="savePersonDetails()">
      <div>
        <label for="name">Name: </label>
        <input #name="ngModel"
               type="text" name="name" required
               [(ngModel)]="person.name">
        <div [hidden]="name.valid || name.pristine " class="error">
          Name is required
        </div>
      </div>
      <div>
        <label for="weight">Weight: </label>
        <input #weight="ngModel"
               type="number" name="weight" required
               [(ngModel)]="person.weight"
               min="0" max="350">
        <div *ngIf="weight.errors && (weight.dirty || weight.touched)"
             class="error">
          <p [hidden]="!weight.errors.min">
            Weight must be higher than a feather's. {{weight.value}} is way too low.
          </p>
          <p [hidden]="!weight.errors.max">
            Weight can't be higher than a Rancor's. {{weight.value}} is too high
          </p>
        </div>
      </div>
      <div>
        <label for="height">Height: </label>
        <input #height type="number" name="height" required
               [(ngModel)]="person.height">
      </div>
      <div>
        <label for="profession">Profession:</label>
        <select name="profession" [(ngModel)]="person.profession">
          <option *ngFor="let profession of professions" [value]="profession">{{profession}}</option>
        </select>
      </div>
      <button class="btn" type="submit"
              [disabled]="!personForm.form.valid">
        Save
      </button>
    </form>
  </section>

  <button class="btn btn-lg btn-primary"
          (click)="goToPeopleList()">
    Back to people list
  </button>
</section>
